.destaque { /*Deixa o fundo do texto amarelo*/
    background-color: #fff9a6;
}

.container { /*Personaliza a classe*/
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 15px;
    font-family: sans-serif, serif;
}
